# SPDX-License-Identifier: MIT-0

# tasks file for cleanmac
---

- name: Find all items in ~/Library/Caches (remote)
  command: "find {{ ansible_facts['user_dir'] }}/Library/Caches -mindepth 1"
  register: user_cache_items
  ignore_errors: true
  changed_when: false

- name: Delete contents of ~/Library/Caches
  ansible.builtin.shell: "shopt -s dotglob && rm -rf {{ ansible_facts['user_dir'] }}/Library/Caches/*"
  when: user_cache_items.stdout_lines is defined
  become: true
  changed_when: false

- name: Empty user Trash (requires sudo)
  shell: "rm -rf {{ ansible_facts['user_dir'] }}/.Trash/*"
  become: true
  changed_when: false

- name: Remove .dmg files from Downloads
  shell: "find {{ ansible_facts['user_dir'] }}/Downloads -type f -name '*.dmg' -delete"
  when: clean_dmg_files
  changed_when: false

- name: Delete system caches (requires sudo)
  become: true
  shell: rm -rf /Library/Caches/*
  ignore_errors: true
  changed_when: false

- name: Delete user logs
  shell: rm -rf {{ ansible_facts['user_dir'] }}/Library/Logs/*
  ignore_errors: true
  changed_when: false

- name: Flush DNS cache
  become: true
  command: dscacheutil -flushcache && killall -HUP mDNSResponder
  changed_when: false

- name: Clear QuickLook cache
  command: qlmanage -r cache
  ignore_errors: true
  when: clear_qlcache_files

- name: Delete system logs older than X days
  become: true
  find:
    paths:
      - /Library/Logs
      - /private/var/log
    age: "{{ log_retention_days }}d"
    recurse: true
  register: old_logs

- name: Remove old system logs
  become: true
  file:
    path: "{{ item.path }}"
    state: absent
  loop: "{{ old_logs.files }}"
  when: clean_old_system_logs
  changed_when: false

- name: Run brew cleanup for formulae
  command: "brew cleanup --prune={{ homebrew_old_version_retention_days }} formula"
  changed_when: false

- name: Run brew cleanup for casks
  command: "brew cleanup --prune={{ homebrew_old_version_retention_days }} cask"
  changed_when: false

- name: Force remove Homebrew cache (even latest)
  shell: rm -rf "$(brew --cache)"
  when: force_clean_homebrew_cache
  changed_when: false

- name: Reindex Spotlight search on main volume
  become: true
  command: mdutil -E /
  when: reindex_spotlight
