---
extends: default

rules:
  line-length:
    max: 180
    level: warning

ignore: |
  .github/workflows/stale.yml
  .github/workflows/ci.yml
  config.yml
  config_work.yml
  config_personal.yml
  collections/
  roles/ansible-role-dock/
  roles/geerlingguy.dotfiles/
  roles/elliotweiser.osx-command-line-tools/
